<div id="indexContent" class="index-content-container w-100 d-flex justify-center align-center column txt-center">
    <p>
        So bestellst du
    </p>
    <h2>
        Es ist ganz einfach.
    </h2>
    <div class="d-flex column justify-center align-center w-50">
        <img class="location-content-img" src="./assets/img/LO.png" alt="">
        <p>
            <strong>
                Gib deinen Standort an
            </strong>
        </p>
        <p>
            Füge deine Adresse ein.
        </p>
    </div>
    <div class="d-flex column justify-center align-center w-50">
        <img class="take-away-img" src="./assets/img/takeaway.png" alt="">
        <p>
            <strong>
                Restaurant und Essen auswählen
            </strong>
        </p>
        <p>
            Worauf hast du Lust? Entdecke eine Vielfalt an Restaurant's und Küchenrichtungen.
        </p>
    </div>    
    <div class="d-flex column justify-center align-center w-50">
        <img class="take-away-img" src="./assets/img/trolley.png" alt="">
        <p>
            <strong>
                Bezahlen und Essen erhalten
            </strong>
        </p>
        <p>
            Wähle aus verschiedenen Bezahlmöglichkeiten und schon bist du fertig.<br> Guten Appetit!
        </p>
    </div> 
</div>