<div class="header w-100 column d-flex align-center justify-center">
    <div class="d-flex column justify-center align-center txt-center">
        <h1>
            Zeit, Essen zu<br>
            bestellen
        </h1>
        <p>
            <strong>
                Jetzt Restaurants in Deiner Nähe finden
            </strong>     
        </p>
        <div class="location-search-container d-flex justify-center align-center w-70">
            <img class="location-img" src="./assets/img/LO.png" alt="">
            <input type="text" placeholder="z.b. Musterstraße 1, Musterstadt" id="placeToDelivery">
            <button onclick="searchRestaurant()">Suchen</button>
        </div>    
    </div>
        <img class="header-img" src="./assets/img/sushi.png" alt="">
</div>    