<div class="navbar d-flex justify-between align-center">
    <div class="d-flex pointer justify-start align-center">   
            <a class="d-flex align-center" href="./index.html">    
                <img class="logo-img" src="./assets/img/foxrun.png" alt="">   
                <span class="mobile-hide">
                    LIEFERFUCHS
                </span>
            </a> 
    </div>
    <div id="placeOfRestaurant"></div>
    
    <div class="d-flex align-center">
        <img id="modeIcon" class="dark-mode-icon" src="./assets/img/day-and-night_day.png" alt="">
        <img id="modusButtonActive" onclick="activateDarkMode()" title="Nacht-Modus aktivieren" class="menu-btn-img pointer" src="./assets/img/switch-off.png" alt="">
        <img id="modusButtonInactive" onclick="exitDarkMode()" title="Nacht-Modus deaktivieren" class="menu-btn-img pointer d-none" src="./assets/img/switch-on.png" alt="">
    </div>    
</div>