<div id="listOfRestaurants" class="restaurant-content-container d-flex justify-center align-center column w-100 mt-80px">
    <div class="restaurant-card w-70">
        <div>
            <img class="restaurant-card-img" src="./assets/img/pizza.png" alt="">
        </div>
        <h3>Pizzaria</h3>
        <div class="restaurant-image-container d-flex justify-between">
            <div>
                <img src="./assets/img/clock.png" alt="">
                <span>
                    30-45 Min.
                </span>
            </div>  
            <div>
                <img src="./assets/img/bicycle.png" alt="">
                <span>
                    1 €
                </span>
            </div>
            <div>
                <img src="./assets/img/shopping-bag.png" alt="">
                <span>
                    Min. 15 €
                </span>
            </div>
        </div>            
    </div>
</div>