<div>
    <img title="Warenkorb Öffnen" id="arrow" onclick="openShoppingBasket()" class="menu-arrow pointer" src="./assets/img/takeaway.png" alt="">
</div>
<div id="shoppingBasket" class="shopping-basket-container column-reverse d-flex justify-end align-center ">
    <button disabled id="payButton" class="pointer d-none">BEZAHLEN</button>
    <div id="minOrderContainer" class="d-flex justify-center">
        <p class="w-30">
            Noch <span id="minOrderPrice">??</span> € um den Mindestbestellwert zu erreichen
        </p>
    </div>    
    <div id="payMent" class="d-none">
        <div class="d-flex justify-between">
            <span>
                Zwischensumme:
            </span>
            <span id="subtotal">????</span>
        </div>
        <div class="d-flex justify-between">
            <span>
                Lieferkosten:
            </span>
            <span id="costsOfDelivery">????</span>
        </div>
        <div class="d-flex justify-between totalsum-container">
            <span>
                Gesamt:
            </span>
            <span id="basketSum">????</span>
        </div>
    </div>
    <div id="basketContent" class="d-none d-flex column"></div>
    <div id="basketStandartContent" class="txt-center">
        <h3>Warenkorb</h3>
        <img class="basket-img" src="./assets/img/trolley.png" alt="">
        <div class="d-flex justify-center">
            <p class="w-30"> 
                <strong>
                    Wähle ein Restaurant und
                    Fülle Deinen Warenkorb
                </strong>    
            </p>
        </div>    
    </div>  
</div>

<div onclick="closeShoppingBasket()" id="overlay" class="overlay d-none"></div>