@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(0px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(15px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(15px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}



body{
    margin: 0;
    font-family: 'Roboto Mono';
    background: linear-gradient(to bottom, rgb(235, 162, 88) 0%, rgba(0, 0, 0, 0) 100%);
}

html{
    scroll-behavior: smooth;
}

.txt-border{
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #dda434, 2px -2px 0 #c39d23, -2px 2px 0 #b5a940, -2px -2px 0 #b5b540, 2px 0px 0 #b5ad40, 0px 2px 0 #b59540, -2px 0px 0 #b5ad40, 0px -2px 0 #b5ad40;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333333d4;
    z-index: 1;
}

.navbar span{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 0 #000000;
    font-size: 1.2rem;
}

.navbar a{
    text-decoration: none;
}

.margin-top-10{
    margin-top: 150px;
}

.navbar-menu-card{
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    z-index: 1;
    padding: 15px;
    background-color: #333333d4;
    
}

.navbar-menu-card a{
    text-decoration: none;
    padding: 8px;
    border: solid 2px white;
    border-radius: 24px;
    color: white;
    background: linear-gradient(to top, rgb(110, 101, 91) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1rem;
}

.navbar-menu-card a:hover{
    background-color: rgb(0 0 0 / 5%);
}

.logo-img{
    width: 55px;
    margin-left: 25px;
    margin-right: 25px;
    filter: invert(1);
}
.menu-btn-img{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.dark-mode-icon{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 100%;
    background-color: #cfd8dc;
}

.header{
    color: white;
    background-color: #edaa66;
    margin-top: 60px;
    max-height: calc(100vh - 60px);
}

.header h1 {
    font-size: 3.5rem;
}

.header p{
    font-size: 1.75rem;
}

.header-img{
    width: 100%;
    overflow-y: hidden;
    object-fit: cover; 
}

.location-search-container{
    border: 1px solid black;
    border-radius: 44px;
    padding: 9px;
    margin-bottom: 54px;
    background-color: white;

}

.location-search-container input{
    width: 400px;
    border: none;
    outline: none;
    font-size: 18px;

}

.location-search-container a{
    border-radius: 44px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px;
    background-color: black;
    color: white;
    text-decoration: none;

}

.location-img{
    width: 20px;
    height: 30px;
    object-fit: contain;
    margin-left: 12px;

}

.index-content-container{
    background-color: white;
    color: black;
}

.index-content-container h2{
    font-size: 1.7rem;
    color: #ff8000;
}

.index-content-container p{
    font-size: 1.2rem;
}

.take-away-img{
    width: 65px;
    filter: invert(45%) sepia(97%) saturate(1588%) hue-rotate(3deg) brightness(108%) contrast(102%);

}

.location-content-img{
    width: 45px;
    filter: invert(45%) sepia(97%) saturate(1588%) hue-rotate(3deg) brightness(108%) contrast(102%);
}

.location-header-img{
    width: 25px;
    margin-right: 24px;
    filter: invert(1);
}

.location-content-img img{
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer{
    min-height: 250px;
    background-color: #262626;
    color: white;
}

.footer img{
    width: 75px;
    filter: invert(1);
    object-fit: contain;
}

.mt-80px{
    margin-top: 80px;
}

.restaurant-info{
    background: #f1bf8b;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 1rem;
}

.restaurant-card-img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.restaurant-card{
    width: 80%;
    border: solid 1px lightgray;
    border-radius: 24px;
    padding-bottom: 16px;
    margin-bottom: 35px;
    overflow: hidden;
    background-color: #edaa66;
    color: white;
    -webkit-box-shadow: 8px 7px 7px 8px rgba(0,0,0,0.57); 
    box-shadow: 8px 7px 7px 8px rgba(0,0,0,0.57);
}

.restaurant-card h1{
    font-size: 2.2rem;
}

.restaurant-card h2{
    font-size: 1.7rem;
}

.restaurant-card h3{
    font-size: 3rem;
    font-family: "Brush Script MT";
    text-shadow: 4px 4px 6px black;
}

.basket-cross{
    display: none;
    width: 25px;
    height: 25px;
    margin-top: 12px;
}

.relative{
    position: relative;
}

.restaurant-image-container img{
    width: 23px;
    margin-right: 6px;
}

.current-rest-img{
    height: 8rem;
    width: 100%;
    object-fit: cover;
}

.add-to-basket-img{
    width: 25px;
    padding-right: 24px;
    padding-top: 16px;
    filter: invert(1);
}

.basket-course{
    margin-left: 8px;
}

.menu-item-container{
    border: solid 1px lightgray;
    border-radius: 24px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    overflow: hidden;
}

.menu-item-container:hover{
    background-color: rgba(0,0,0,5%);
    border-color: grey;

}

.basket-img{
    width: 75px;
}

.shopping-basket-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(100%, 0px);
    width: 50%;
    background-color: white;
    -webkit-box-shadow: -4px -3px 11px 4px #ff8000; 
    box-shadow: -4px -3px 11px 4px #ff8000;
    z-index: 2;
}

.overlay {
    background-color: rgba(0,0,0,65%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overflow-hidden{
    overflow: hidden;
}

.padding-left-24px{
    padding-left: 24px;

}

.menu-arrow{
   
    width: 25px;
    padding: 9px;
    border-radius: 100%;
   
    overflow: hidden;
}

.basket-shadow{
    filter: invert(1);  
}

.bg-openbasket{
    background-color: #edaa66;
    position: fixed;
    top: 50%;
    right: 3%;
    border-radius: 100%;
    --webkit-box-shadow: 8px 7px 7px 8px rgb(0 0 0 / 57%);
    box-shadow: 8px 7px 7px 8px rgb(0 0 0 / 57%);

}


.animation{
    animation: myAnim 3s ease 0s 1000 normal forwards;
}


.darkModeActive{
    background: none;
    background-color: #3a3a3a; 
    color: #ddc9af;
}

.color-sand{
    filter: invert(52%) sepia(1%) saturate(0%) hue-rotate(60deg) brightness(97%) contrast(95%); 
}



.basketCart{
    border: 1px solid rgb(222, 215, 215);
    border-radius: 14px;
    background-color: rgba(0,0,0,5%);
    padding: 24px;
    max-width: 90%;
    margin-top: 9px;
    margin-bottom: 9px;
}

#basketContent{
    max-height: 50%;
    width: 80%;
    overflow-y: scroll;
    border: solid lightgrey;
    padding: 24px;
}

#basketCounter{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 15px;
    height: 15px;
    border: 1px solid #ff8000;
    border-radius: 100%;
    padding: 4px;
    font-size: 14px;
    color: white;
    background-color: #ff8000;
   
}

.basket-plus{
    width: 13px;
    padding: 4px;
    border: 1px solid rgb(222, 215, 215);
    border-radius: 14px;
    background-color: rgba(0,0,0,5%);
    margin-left: 10px;
}

.basket-minus{
    width: 13px;
    padding: 4px;
    border: 1px solid rgb(222, 215, 215);
    border-radius: 14px;
    background-color: rgba(0,0,0,5%);
    margin-left: 10px;
}

#payButton{
    font-size: 1.2rem;
    padding: 8px;
    background-color: #ff8000;
    color: white;
    font-weight: bold;
    border-radius: 24px;
    font-size: 1rem;
    margin-top: 18px;
    margin-bottom: 18px;
    border: none;
    padding: 12px 24px;
}

#payButton[disabled]{
    background-color: #eeeeee;
    cursor: default;
}
#minOrderContainer{
    margin-top: 16px;
}

#payMent{
    background: #ff8000;
    margin-top: 24px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 12px;

}

.totalsum-container{
    border-top: solid white;
    padding-top: 14px;
    margin-top: 14px;
}

.menu-bottom-container{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #333333d4;
    z-index: 1;
}

.basket-img-bottom{
    width: 45px;
    filter: invert(1);
}

.pay-overlay-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 80%);
    z-index: 5;
    color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
